body{
    background-color: gray;
    background: black;
}

a {
    text-decoration: none;
  }
  
nav {
    font-family: monospace;
  }
  
ul {
    background: #333;
    list-style: none;
    margin: 0;
    padding:0;
    height: 40;
    width: 100%;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    height: 68px;
}
  
li {
    color: #fff;
    background: #333;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}
    
li a {
    color: #fff;
}
  
li:hover {
    background: red;
    cursor: pointer;
}
  
ul li ul {
    background: #333;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}
  
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
  
ul li ul li {
    clear: both;
    width: 100%;
}

#jordanlogo{
    width: 32px;
    height: 32px;
}

#adidaslogo{
    width: 32px;
    height: 32px;
}

.exclusive{
    height: 36px;
    vertical-align: middle;
}

.complementos{
    height: 36px;
}

.cesta{
    text-align: center;
    float: right;
    margin-right: 0.5cm;
}

.contacto{
    text-align: center;
    float: right;
    margin-right: 1cm;
}

#complementos{
  text-shadow: 0 0 0.2em #FF0000;
  font-size: 20px;
}

#exclusive{
  text-shadow: 0 0 0.2em #FF0000;
  font-size: 20px;
}

@import url("https://fonts.googleapis.com/css?family=Codystar:300&display=swap");
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Codystar';
  background: black;}

.neons {
  margin-top: 10rem;
  text-align: center;
}

.neons h1 {
  font-size: 9rem;
  text-align: center;
  font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    color: #fff;
    text-shadow: 0 0 10px #dd2020, 0 0 20px #f32d2d, 0 0 30px #f53030, 0 0 40px #ee2929;
  }
}