@font-face { font-family: 'Alfa Slab One'; font-style: normal; font-weight: 400; src: url('../fonts/alfa-slab-one-v16-latin-regular.eot'); src: url('../fonts/alfa-slab-one-v16-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/alfa-slab-one-v16-latin-regular.woff2') format('woff2'), url('../fonts/alfa-slab-one-v16-latin-regular.woff') format('woff'), url('../fonts/alfa-slab-one-v16-latin-regular.ttf') format('truetype'), url('../fonts/alfa-slab-one-v16-latin-regular.svg#AlfaSlab One') format('svg'); }

#titulo{
    margin: 0 auto;
    font-size: 90px;
    color: black;
    display: block;
    font-family: Alfa Slab One;
    white-space: nowrap;
    border-right: 8px solid;
    width: 13.5ch;

    animation: typing 6s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
}
@keyframes typing {
    from { width: 0 }
}

@keyframes blink {
    50% { border-color: transparent }
}

body{
    background-color: black;
    background-image: url(https://i.pinimg.com/originals/04/d1/02/04d102d3e28d69eb6724c06fecaef911.jpg);
    margin-left: 20;
    background-repeat: no-repeat;
    background-position: 50%;   
}

a {
    display: block;
    color: white;
    padding: 16px;
}

a:hover {
    text-decoration: none;
}

#link{
    margin: 0 auto;
    background-color: black;
    color: white;
    display: block;
    font-family: monospace;
    font-size: 40px;
    white-space: nowrap;
    border-right: 4px solid;
    width: 29ch;

    animation: typing 6s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
}
@keyframes typing {
    from { width: 0 }
}

@keyframes blink {
    50% { border-color: transparent }
}
